@use "../../responsive.scss" as res;

.singlePage {
  &::-webkit-scrollbar {
    display: none;
  }

  // Hide scrollbar for Firefox
  scrollbar-width: none;

  // Hide scrollbar for Edge and IE
  -ms-overflow-style: none;

  .details,
  .features {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  display: flex;
  height: 100%;
  padding-bottom: 20px;

  @include res.md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    height: 100%;
    overflow-y: scroll;

    @include res.md {
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }

    .wrapper {
      padding-right: 50px;

      @include res.lg {
        padding-right: 20px;
      }
      @include res.md {
        padding-right: 0px;
      }

      .info {
        margin-top: 50px;
        .top {
          display: flex;
          justify-content: space-between;

          @include res.sm {
            flex-direction: column;
            gap: 20px;
          }

          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
              font-weight: 400;
            }
            .address {
              display: flex;
              gap: 5px;
              align-items: center;
              color: #888;
              font-size: 14px;

              img {
                width: 16px;
                height: 16px;
              }
            }
            .price {
              padding: 5px;
              background-color: #e4a49d;
              border-radius: 5px;
              width: max-content;
              font-size: 20px;
              font-weight: 300;
            }
          }
          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0px 50px;
            border-radius: 10px;
            background-color: #e4a49d;
            font-weight: 600;

            @include res.sm {
              padding: 20px 50px;
            }

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        .bottom {
          margin-top: 50px;
          color: #555;
          line-height: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .features {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    overflow-y: scroll;
    margin-bottom: 20px;

    @include res.md {
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }

    .wrapper {
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include res.md {
        padding: 20px;
      }

      img {
        width: 24px;
        height: 24px;
      }

      .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
      }

      .feature {
        display: flex;
        align-items: center;
        gap: 10px;

        .featureText {
          span {
            font-weight: bold;
          }
          p {
            font-size: 14px;
          }
        }
      }

      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }
      .listHorizontal {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }

      .sizes {
        display: flex;
        justify-content: space-between;

        @include res.lg {
          font-size: 12px;
        }

        .size {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
          padding: 10px;
          border-radius: 5px;
        }
      }

      .mapContainer {
        width: 100%;
        height: 200px;
      }

      .buttons {
        display: flex;
        justify-content: space-between;

        button {
          padding: 20px;
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: white;
          border: 1px solid #e4a49d;
          border-radius: 5px;
          cursor: pointer;

          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
.phoneNumber {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #888;

  img {
    width: 20px; // Adjust the width as needed
    height: 20px; // Adjust the height as needed
  }
}
