@use "../../responsive.scss" as res;

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fafc;
}

a {
  transition: all 0.4s ease;

  @include res.sm {
    display: none;
  }

  &:hover {
    scale: 1.05;
  }
}

.left {
  flex: 3;
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    @include res.md {
      display: none;
    }

    @include res.sm {
      display: initial;
    }
  }
}

.logo img {
  width: 70px;
}

.right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: 18px;

  .signup {
    background-color: #c82918;
    color: white;
    padding: 12px 24px;
    border: none;
  }
}

.menuIcon {
  display: none;
  z-index: 999;

  @include res.sm {
    display: inline;
  }

  img {
    width: 22px;
    cursor: pointer;
  }
}

.menu {
  position: absolute;
  background-color: rgba(180, 205, 222, 0.95); // Visible background
  color: black;
  height: 100vh;
  top: 0;
  right: -50%; // Hidden by default
  width: 50%;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; // Ensures it's above other elements

  &.active {
    right: 0; // Show menu when active
  }

  a {
    color: black; // Link color
    text-decoration: none; // Remove underlines
    margin: 15px 0; // Add spacing between links
    font-size: 1.2rem; // Adjust text size
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: #c82918; // Hover color
    }
  }
}
