@use "../../responsive.scss" as res;

.homePage {
  display: flex;
  flex-direction: row; /* Default is row */
  height: 100vh;

  @include res.md {
    flex-direction: column; /* Stack elements vertically on medium screens */
  }
  @include res.sm {
    flex-direction: column; /* Stack vertically for smaller screens */
  }

  .wrapper {
    flex: 3;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 100%;

    @include res.md {
      padding: 20px; /* Add padding for better spacing */
    }
    @include res.sm {
      justify-content: flex-start;
      padding: 10px;
      text-align: center; /* Center text on small screens */
      gap: 20px;
    }

    .title {
      font-size: 48px;
      font-weight: 700;
      color: #333;

      @include res.lg {
        font-size: 35px;
      }
      @include res.sm {
        font-size: 28px; /* Smaller font size for mobile screens */
        margin-bottom: 5px;
      }
    }

    .description {
      font-size: 18px;
      line-height: 1.8;
      color: #555;
      font-family: "Georgia", serif;
      text-align: justify;

      @include res.sm {
        font-size: 14px; /* Smaller font size */
        line-height: 1.5;
        padding: 0 10px; /* Add side padding */
      }

      span {
        font-weight: 700;
        color: #c82918;
        font-style: italic;
      }
    }
  }

  .imgContainer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    @include res.md {
      display: none; /* Hide image on medium screens */
    }
    @include res.sm {
      display: none; /* Hide image for smaller screens */
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      right: 0;
    }
  }
}
