.footer {
  background-color: #f4f4fe;
  padding-bottom: 20px;
}
.footer-content {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr; /* Fixed space for .section and .account, remaining space for .section1 */
  gap: 20px; /* Optional: space between the grid items */
  h2 {
    line-height: 2;
  }
}

.section {
  padding-top: 20px;
  padding-left: 100px;
  /* You can add specific styles for the section */
}

.account {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* You can add specific styles for the account */
}

.section1 {
  padding-top: 20px;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // align-items: flex-end;
  .logo {
    width: 200px;
    display: flex;

    justify-content: center;
  }
  ol {
    list-style: none;
    line-height: 1.5;
  }
  .phone img {
    width: 20px;
  }
  .logos {
    display: flex;
    gap: 10px;
    a img {
      width: 40px !important;
      height: 40px;
    }
  }
  ol {
    line-height: 2;
  }
}

ul {
  list-style-type: none; // Remove default bullet points
  padding-left: 0;

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;

    &:before {
      content: "•"; // Add custom bullet point
      position: absolute;
      left: 0;
      color: #333; // Match your text color
    }
  }
}
.footer-bottom {
  display: flex;
  justify-content: center;
}
