@use "../../responsive.scss" as res;
.slider {
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;

  @include res.sm {
    height: 280px;
  }

  .fullSlider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

    .arrow {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0; // Prevent shrinking

      img {
        width: 50px; // Fixed width
        height: 50px; // Fixed height
        object-fit: contain;

        @include res.md {
          width: 30px;
          height: 30px;
        }

        @include res.sm {
          width: 20px;
          height: 20px;
        }

        &.right {
          transform: rotate(180deg);
        }
      }
    }

    .imgContainer {
      flex: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .imgContainer {
    flex: 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding: 50px;
    cursor: pointer;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.bigImage {
  flex: 3;

  @include res.sm {
    flex: 2;
  }
}
.smallImages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @include res.sm {
    flex: 1;
  }

  img {
    height: 100px;

    @include res.sm {
      height: 80px;
    }
  }
}
